<section class="weather-wrapper">
    <img ng-src="{{pictures}}" alt="wallaper" class="wallpaper">
        </div>
        <h1 class="date">{{results}}</h1>
        <div class="weather-display-container">
             <img style="width:150px"ng-src="{{weatherIcon}}">
        </div>
        <section class="weather-container">
            <div class="text-container">
                  <h3>{{location.country}}</h3>
                  <h3>{{weather.name}}</h3>
                  <h3 style="padding-bottom:70px">Current Conditions: {{currentWeather}}</h3>
                  <h3>Humidity: {{weather.main.humidity}}%</h3>
                  <h3>Current Temp: {{currentTemp}}°F</h3>
                  <h3>Min Temp: {{minTemp}}°F</h3>
                  <h3>Max Temp: {{maxTemp}}°F</h3>
                 
                <div>
                </div>
            </div>
        </section>
</section>

		</div>

